


.bottomtotop i {
    background:  #08a985;   
}

.single-causes .content .mybtn1:hover {
    background:  #08a985; 
}


.single-causes .content .progress-area .progress .progress-bar {
    background:  #08a985;
}




.footer-newsletter-widget .newsletter-form-area button {
    background:  #08a985; 
}


.video-play-btn i {
    color: #08a985;
}

.recent-causes-widget .post-list li .progress-area .progress .progress-bar {
    background:  #08a985; 
}


.tags-widget .tags-list li a:hover {
    background:#08a985; 
    border-color: #08a985;
}



.video-play-btn2 {
    background:#08a985;
}

.tags-widget .tags-list li a.active {
    background:#08a985; 
    border-color: #08a985;
}

.categori-widget .categori-list li a:hover,
.categori-widget .categori-list li a.active {
    color: #08a985;
}

.recent-causes-widget .post-list li .post .post-details .post-title:hover {
    color: #08a985;
}

.single-causes.details .content .footer-text .social-text li a:hover {
    background:#08a985; 
    border-color: #08a985;
}
.mybtn1 {
    background:#08a985; 
}



.single-blog .content .top-meta li a i {
    color: #08a985;
}

.page-center ul.pagination li.active {
  background: #08a985 !important;
}

.blog-details-area .blog-details .content .top-meta li a i {
    color: #08a985;
}

.tag-widget .tags-list li a:hover {
    background:#08a985; 
    border-color: #08a985;
}

.archives-widget .archives-list li a:hover {
    color: #08a985;
}

.recent-post-widget .post-list li .post .post-details .post-title:hover {
    color: #08a985;
}

.categori-widget-area .categori-list a:hover {
    color: #08a985;
}

.ui-accordion .ui-accordion-header {
    background:#08a985; 
}

.contact-us .contact-section-title .title {
    color: #08a985;
}


.contact-us .left-area .contact-form ul li .input-field:focus {
  border-bottom: 1px solid #08a985 !important;
}

.contact-us .right-area .social-links ul li a {
    background:#08a985;
}

.contact-us .right-area .social-links ul li a:hover {
    background:#fec501;
}

.login-signup .log-reg-tab-menu .nav li a.active {
    background:#08a985;
}

.login-signup .login-area .submit-btn {
    background:#08a985;
    border: 1px solid  #ffc107;
}

.login-signup .login-area .login-form .form-input i {
    color: #08a985;
}



.mainmenu-area .navbar #main_menu .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover,
.mainmenu-area .navbar #main_menu .navbar-nav .nav-item .dropdown-menu .dropdown-item.active {
    color: #08a985;
}

.mainmenu-area .navbar #main_menu .navbar-nav .nav-item .dropdown-menu {
   border-top: 3px solid #08a985; 
}

.footer .copy-bg .content .content p a {
    color: #08a985;
}

.team .team-member .bg-color .t-img .name {
  background: #08a985b3;
}

.contact-us .left-area .contact-form .captcha-area li .input-field:focus {
  border-bottom: 1px solid #08a985 !important;
}




.contact-us .right-area .contact-info {
  border-bottom: 2px solid #08a985;
}




.video-play-btn2:before {
    background: #08a985;
}

.thankyou .content {
    background: #08a985;
    }




.mainmenu-area .navbar #main_menu .navbar-nav .nav-link::before {
    background: #068a6c;
}

.page-center ul.pagination li {
    background: #08a9851a !important;
}


.hero-area .content .links-area .link.left {
  background: #068a6c;
}

.hero-area .content .sub-title {
  color: #068a6c;
}

.single-causes.details .content .footer-text .social-text li a {
    color: #068a6c;
}

.single-causes.details .content .top-meta .left span {
    color: #068a6c;
}

.single-causes .content .top-meta .right span {
    color: #068a6c;
}

.single-causes.details .content .top-meta .right span {
    color: #068a6c;
}

.section-heading .sub-title {
    color: #068a6c;
}

.statistics .single-statistics-box .right .num {
    color: #068a6c;
}

.single-causes .content .top-meta .left span {
    color: #068a6c;
}

.single-causes .content .mybtn1 {
  background: #068a6c;
}

.single-causes .content .top-meta .right span {
    color: #068a6c;
}

.donate .content .donet-btn-area .mybtn1 {
    background: #068a6c;
}

.request-to-call .request-form .mybtn1 {
    background: #068a6c;
}

.team .owl-controls .owl-dots .owl-dot.active {
    background: #068a6c;
}

.testimonial .owl-controls .owl-dots .owl-dot.active {
    background: #068a6c;
}



.testimonial .single-testimonial .people .designation {
    color: #068a6c;
}

.blog .owl-controls .owl-dots .owl-dot.active {
    background: #068a6c;
}


.login-signup .login-area .submit-btn {
    border: 1px solid #068a6c;
}

.footer-newsletter-widget .newsletter-form-area button:hover {
    background:#068a6c;
}

.contact-us .right-area .social-links ul li a:hover {
    background:#068a6c;
}

.mybtn1:hover {
    background:#068a6c;
}

.makea-donation .preloaded_amountValue {

    background:#068a6c;
  border:1px solid #068a6c;
}


.thankyou .content .icon {
      color: #068a6c;
      }

.makea-donation .preloaded_amountValue {
    border: 1px solid white;
    background:#7b808a73;
    color: #black;
}

.makea-donation .preloaded_amountValue {
    color:black;
}